# Gradle files
.gradle/
build/
/*/build/

# IntelliJ IDEA/Android Studio files
.idea/
*.iml
*.ipr
*.iws

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Built artifacts
*.apk
*.aar
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Android Studio captures folder
captures/

# External Native Build
.externalNativeBuild/
.cxx/

# OS-specific files
.DS_Store
Thumbs.db
